h1 {
  text-align: center;
}

.catalog {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.product {
  text-align: center;
  margin: 0 20px;
}

.product img {
  width: 200px;
  height: 200px;
}

.cart {
  margin-top: 50px;
}

.cart h2 {
  text-align: center;
}

.cart button {
  display: block;
  margin: 20px auto;
}

ul{
  align-items: center;
}

