.element_header{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;

}
.element_main{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;
}
.element_footer{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;
}
.col-main{
  width: 70%;
  float: left;
  display: block;

}
.col-sidebar{
  width: 30%;
  float: right;
  display: block;
}
/*родитель - дети*/
aside > p{ 
  color: rgb(248, 8, 8);
}
/*предок - потомок*/
header a{
  color: aquamarine;
}
/*сиблингами*/
section ~ p{
  color: darkgreen;
}
address a:visited{
  color: chocolate;
}
address a:link{
  color: red;
}
.c:hover{
  color:fuchsia;
  background-color: black;
}
a:active{
  background-color: rgb(83, 28, 109);
}

h5 {
  font-family: 'Dancing Script', cursive;
}