.element_header{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;

}
.element_main{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;
}
.element_footer{
  margin: 0 auto;
  padding:  20px 40px 20px 40px;
  border-width: 1px;
  border-style: ridge;
  border-color: #696969;
}

* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#two {
  position: relative;
  top: 20px;
  left: 20px;
  background: blue;
}

.positioned {
  position: absolute;
  background: yellow;
  top: 360px;
  left: 30px;
}

.outer {
  width: 500px;
  height: 300px;
  overflow: scroll;
  padding-left: 150px;
}

#one {
  position: fixed;
  top: 80px;
  left: 10px;
  background: blue;
}

* {
  box-sizing: border-box;
}

dl > div {
  background: #fff;
  padding: 24px 0 0 0;
}

dt {
  background: #b8c1c8;
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  color: #fff;
  font:
    bold 18px/21px Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

dd {
  font:
    bold 20px/45px Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}

dd + dd {
  border-top: 1px solid #ccc;
}

.x{
  width: 500px;
  height: 300px;
  overflow: scroll;
  padding-left: 150px;
}

#h1{
  position: static;
}

.y{
  display: inline-block;
  text-decoration: green wavy underline;
}

ul {
  list-style: none;
  display: inline-block;
}